<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <title>MY TODO APP</title>
  <link href="https://fonts.googleapis.com/css?family=Eczar:400,800|Poppins:400,700,900" rel="stylesheet">
  <!-- <link rel='stylesheet' type='text/css' href='/reset.css'> -->
  <link rel='stylesheet' type='text/css' href='/style.css'>

  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
  <script src="/script.js"></script>

</head>
<body>

